/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
}

/* ------------- start of main page css ------------- */

.webpages {
    background-color: blue;
    border: 2px solid blue;
    width: 30vw;
    height: 600px;
    z-index: 999;
    /* display: none; */
    position: fixed;
    top:50px;
    box-shadow: 5px 5px 10px black;
    padding-top: 60px; /* Increase padding top on hover */
    
} 

h1{
    font-family: "Noto Sans Tagalog", sans-serif;
    font-size: 2em;
    font-weight: 600;
    color: white;
    position: absolute;
    padding-right: 1rem;
    right: 1%;
    top: 2%;
}


.closeButton {
    position: absolute;
    background-color: rgba(0, 0, 255, 0);
    color: #fff;
    font-size: 3em;
    border: none;
    cursor: pointer;
    top: 0%;
    left: 1%; 
    opacity: 1;
}

.closeButton:hover{
    color: red;
}


.mainTitle{
    z-index: 0;
    /* border: black 1px solid; */
    padding-left: 1vw;
    display: grid;
    position: absolute;
    /* line-height: 15em; */
}

/* uwu */

.suyatGif{
    font-family: monospace;
    font-weight: 400;
    font-style: normal; 
    font-size: 240px;
    color: blue;
    position: absolute ;
    top: 7%;
    z-index: 50;
    opacity: 0;
    background-color: #fff;
    /* margin-top: 7%; */
    /* transform: translateY(-47%); */
    /* border: black solid 1px; */
}

.suyatGif:hover{
    font-family: monospace;
    font-weight: 400;
    font-style: normal; 
    font-size: 240px;
    color: blue;
    position: absolute ;
    z-index: 50;
    /* margin-top: 7%; */
    /* transform: translateY(-47%); */
    /* /* border: black solid 1px; */
    opacity: 100;
}


.suyat{
    font-family: monospace;
    font-weight: bolder;
    font-style: normal; 
    font-size: 220px;
    color: blue;
    margin-top: 5%;
    /* transform: translateY(-30%); */
    z-index: 5;
    /* border: black solid 1px; */
}

a:hover{
    color: red;
}

u:hover{
    color: red;
}

.aTimeline{
    font-family: monospace;
    font-weight: 400;
    font-style: normal; 
    font-size: 220px;
    color: blue;
    position: relative;
    margin-top: 2rem;
    line-height: 1em;
    font-weight:bolder;
    /* margin-top: 10%; */
    /* border: black solid 1px; */
}

.description{
    /* transform: translateY(-3000%); */
    margin-left: 2em;
    font-family: monospace;
    line-height: 14pt;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
    background-color: blue;
    width: 35%;
    border-radius: 10px;
    border: 2px blue solid;
    padding: 1rem;
    position: absolute;
    top: 65vh;
    /* border: black solid 1px; */
}

.zero{
    font-family: monospace;
    text-align: center;
    color: white;
    position: absolute;
    top: 85vh;
    background-color: blue;
    padding: 5px;
    z-index: 1;
    margin-left: 2em;
    text-decoration: none;
    border-radius: 10px;
}

.zero:hover{
    background-color: red;
    color: white;
}

#closeAllButton{
    font-family: monospace;
    font-size: 15px;
    color: blue;
    font-weight: bold;
    position: fixed;
    top: 90vh;
    right: 3em;
    border: 2px solid blue;
    background-color: white;
    padding: 5px;
    z-index: 1000;
}

#closeAllButton:hover{
    color: red;
    border-color: red;
}

#extras{
    font-family: monospace;
    font-size: 15px;
    color: blue;
    font-weight: bold;
    position: fixed;
    top: 84vh;
    right: 3em;
    border: 2px solid blue;
    background-color: white;
    padding: 5px;
    z-index: 1000;
}

#extras:hover{
    color: red;
    border-color: red;
}

.timeline{
    margin-top: 2vh;
    padding-right: 20%;
    position: absolute;
    /* border: 1px solid black; */
    z-index: 998;
    top: 5%;
    margin-left: 65%;
}

.timelineTick {
    display: grid;
    grid-template-columns: repeat(406,1fr);
    /* border: 1px solid black; */
}

.tick {
    width: 1vw;
    height:10px;
    border-right:1px solid blue; 
}

.tickDecade {
    width: 1vw;
    height:20px;
    border-right:1px solid red; 
}

.counter{
    font-family: monospace;
    position: absolute;
    bottom: 30px;
}

a{
    line-height: 20pt;
}

.t2024{
    font-family: monospace;
    position:absolute;
    text-decoration: none;
    top:5vh;
    color:blue;
    left:1.2vw;
}

.t2021{
    font-family: monospace;
    position:absolute;
    top:10vh;
    color:blue;
    left: 2vw;
}

.t2021-2{
    font-family: monospace;
    position:absolute;
    top:15vh;
    color:blue;
    left: 2vw;
}

.t2018{
    font-family: monospace;
    position:absolute;
    top:20vh;
    color:blue;
    left: 2.7vw;
}

#t2002{
    font-family: monospace;
    position:absolute;
    top:25vh;
    color: blue;
    left: 6vw;
}

/* .t2002-1{
    font-family: monospace;
    position:absolute;
    top:68vh;
    color:blue;
    left: 3vw;
}

.t2002-2{
    font-family: monospace;
    position:absolute;
    top:29vh;
    color:blue;
    left: 3vw;
}

.t2002-3{
    font-family: monospace;
    position:absolute;
    top:32vh;
    color:blue;
    left: 3vw;
}

.t2002-4{
    font-family: monospace;
    position:absolute;
    top:70.5vh;
    color:blue;
    left: 3vw;
} */

.t1989{
    font-family: monospace;
    position:absolute;
    top:56vh;
    color:blue;
    left: 9vw;
}

.t1950{
    font-family: monospace;
    position:absolute;
    top:62vh;
    color:blue;
    left: 16vw;
}

.t1900{
    font-family: monospace;
    position:absolute;
    top:67vh;
    color:blue;
    left: 26vw;
}

.t1625{
    font-family: monospace;
    position:absolute;
    top:10vh;
    color:blue;
    left: 82vw;
}

.t1613{
    font-family: monospace;
    position:absolute;
    top:15vh;
    color:blue;
    left: 84.9vw;
}

.t1593{
    font-family: monospace;
    position:absolute;
    top:30vh;
    color:blue;
    left: 87.8vw;
}

.t1300{
    font-family: monospace;
    position:absolute;
    top:10vh;
    color:blue;
    left: 147.5vw;
}

.suyatCharacters{
    font-size: 19pt;
}

.suyatBox{
    border: solid 3px blue;
    position: absolute;
    left: 146.5vw;
    top: 18vh;
    width: 3vw;
    height: 16vh;
    border-radius: 10px;
}

.suyatBox:hover{
    box-shadow: 2px 2px 5px black;
}

.t1002{
    font-family: monospace;
    position:absolute;
    top:14vh;
    color:blue;
    left: 208.5vw;
}

.t900{
    font-family: monospace;
    position:absolute;
    top:25vh;
    color:blue;
    left: 229vw;
}

.t700{
    font-family: monospace;
    position:absolute;
    top:10vh;
    color:blue;
    padding-left: 0.5rem;
    left: 268.5vw;
    border: solid 3px blue;
    border-radius: 10px;
    width: 2vw;
    height: 3.5vh;
}

.t700:hover{
    box-shadow: 2px 2px 5px black;
}

#lol{
    font-family: monospace;
    position:absolute;
    top:40vh;
    color:blue;
    left: 420vw;
}

#lol2{
    font-family: monospace;
    position:absolute;
    top:40vh;
    color:blue;
    left: 445vw;
    opacity: 0;
}





/* tool tip section with help from chatgpt */

.tooltip {
    white-space: pre-line;
}
  
  /* Style the tooltip text */
  a.tooltip::after {
    font-family: monospace;
    content: attr(data-tooltip); /* Get the data-tooltip attribute value */
    background-color: black;
    color: white;
    line-height: 1.1rem;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    left: 0%;
    top: calc(100% + 10px); /* Adjust the top position */
    width: 25vw;
    /* Set height to auto to adjust according to content */
    height: auto;
    visibility: hidden; /* Hide the tooltip by default */
    
  }
  
  /* Show the tooltip text when you mouse over the anchor tag */
  a.tooltip:hover::after {
    visibility: visible;
  }

